div {
    background-color: greenyellow;
}

.box {
    border: 2px solid grey;
    border-radius: 8px;
    width: 9.7rem;
}

.enter {
    margin: 5px;
}

input {
    width: 6rem;
    text-align: end;
}

.calc {
    border: 2px solid grey;
    border-radius: 8px;
    width: 9.7rem;
}

table {
    padding: 5px;
}

button {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
}